*.lua linguist-detectable=false
*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.cleo linguist-detectable=false
*.asi linguist-detectable=false
*.dll linguist-detectable=false
* text=auto
